<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daeun.pyeongchangstop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".WebviewActivity" />
        <activity android:name=".UserActivity" />
        <activity
            android:name=".LockScreenActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name=".ScreenReceiver" />

        <service android:name=".ScreenService" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ShortQuizActivity" />
        <activity android:name=".SelectionQuizActivity" />
        <activity android:name=".OxQuizActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".EntertainmentActivity"></activity>
    </application>

</manifest>